<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <!-- ここからlink_toを使って修正してください -->
    <%= link_to '/' do %>
      <%=image_tag "logo.png" %>
    <% end %>
    <!-- ここまでlink_toを使って修正してください -->
    <%= link_to '',class: 'navbar-toggler', data: { bs_toggle: 'collapse',  bs_target: '#navbarSupportedContent'}, aria: {controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation'} do %>
      <span class="navbar-toggler-icon"></span>
    <%end%>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <li class="nav-item">
          <!-- link_toを使って修正してください -->
          <%= link_to 'ログイン', login_path, class: 'nav-link'%>
        </li>
      </ul>
    </div>
  </nav>
</header>