
<% if model.errors.any?%>
<div class="alert alert-danger">
  <ul>
    <% model.errors.each do |error| %>
      <li>
        <%= error.full_message %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>