<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%=  %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to '#', class: 'nav-link' do %>
          <i class="bi bi-person"></i>
          <%=  %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>